<!doctype html>
<html lang=zh-cn>
<head>
    <meta charset=utf-8>
    <meta http-equiv=x-ua-compatible content="IE=edge,chrome=1">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta name=author content=Zeuk>
    <meta name=description
          content="✉️ imzeuk@gmail.com 老百姓一枚，刚毕业那会，总是在各个城市辗转，没个安稳的地儿。后来折腾累了，就在长沙选了个落脚的窝，从事IT相关的工作，随后把婚也给结了，总算结束了颠沛流离的日子。而2018年对于我是非常重要的一">
    <meta name=keywords content=zeuk,blog,博客>
    <link rel=canonical href=https://zeuk.me/about/>
    <link rel=apple-touch-icon sizes=180x180 href=https://zeuk.me/images/apple-touch-icon.png>
    <link rel=icon type=image/png sizes=32x32 href=https://zeuk.me/images/favicon-32x32.png>
    <link rel=icon type=image/png sizes=16x16 href=https://zeuk.me/images/favicon-16x16.png>
    <link rel=manifest href=https://zeuk.me/images/site.webmanifest>
    <link rel=mask-icon href=https://zeuk.me/safari-pinned-tab.svg color=#5bbad5>
    <title>关于 &middot; 救赎之旅</title>
    <link rel=stylesheet href=https://zeuk.me/css/animate.min.css>
    <link rel=stylesheet href=https://zeuk.me/css/remixicon.css>
    <link rel=stylesheet href=https://zeuk.me/css/zozo.css>
    <link rel=stylesheet href=https://zeuk.me/css/highlight.css>
</head>
<body>
<div class="main animated">
    <div class="nav_container animated fadeInDown">
        <div class=site_nav id=site_nav>
            <ul>
                <li><a href=/>首页</a></li>
                <li><a href=/posts/>归档</a></li>
                <li><a href=/tags/>标签</a></li>
                <li><a href=/projects/>项目</a></li>
                <li><a href=/about>关于</a></li>
            </ul>
        </div>
        <div class=menu_icon><a id=menu_icon><i class=remixicon-links-line></i></a></div>
    </div>
    <div class="header animated fadeInDown">
        <div class=site_title><h1><a href=https://zeuk.me/><span>救赎之旅</span>
            <img src=https://zeuk.me/images/logo.svg></a></h1></div>
        <div class=description><p class=sub_title>Zeuk, Zozo&#39;s father</p>
            <div class=my_socials><a href=https://github.com/imzeuk title=github target=_blank><i
                    class=remixicon-github-fill></i></a><a href=https://www.instagram.com/im_zeuk/ title=instagram
                                                           target=_blank><i class=remixicon-instagram-fill></i></a><a
                    href=https://t.me/im_zeuk title=telegram target=_blank><i class=remixicon-telegram-fill></i></a><a
                    href=https://twitter.com/im_zeuk title=twitter target=_blank><i
                    class=remixicon-twitter-fill></i></a><a href=https://zeuk.me/index.xml type=application/rss+xml
                                                            title=rss target=_blank><i class=remixicon-rss-fill></i></a>
            </div>
        </div>
    </div>
    <div class=content>
        <div class=post_page>
            <div class="post animated fadeInDown">
                <div class="post_title post_detail_title"><h2><a href=/about/>关于</a></h2></div>
                <div class="post_content markdown">
                    <blockquote><p>✉️ imzeuk@gmail.com</p></blockquote>
                    <p>
                        老百姓一枚，刚毕业那会，总是在各个城市辗转，没个安稳的地儿。后来折腾累了，就在长沙选了个落脚的窝，从事IT相关的工作，随后把婚也给结了，总算结束了颠沛流离的日子。而2018年对于我是非常重要的一年，我成为了一名父亲，我的宝贝女儿也用上了我给她早就起好的名字。</p>
                    <p>
                        崽崽的出生，也让我对生活有了新的思考。出于自己对社交的反感以及时间的浪费，现在我也在不断减少大部分社交，将更多的时间用在陪她和学习上，既然生了她，那么就要对她未来以什么姿态面对社会而负责，我希望她能够有自己独立的思想、人格和尊严。另外就是学习，每天等崽崽入睡后，我都会躺在她旁边，拿起笔记本学习新的互联网技术，我很享受这段时间，这让我无比的踏实，一方面是自己对新技术的热情，二则为了未来某一天能获得相对的自由，正如王小波在《王小波思想小品》中说的：<strong>人该是自己生活的主宰，不是别人手里的行货。</strong>
                    </p>
                    <p>先写这么多吧，后续想到什么再写。</p></div>
                <div class=post_footer></div>
            </div>
            <div class=doc_comments>
                <div class=comments_block_title>发表评论</div>
                <div id=vcomments></div>
            </div>
            <link rel=stylesheet href=https://zeuk.me/css/comments.css>
            <script src=//cdn1.lncld.net/static/js/3.0.4/av-min.js></script>
            <script src=//unpkg.com/valine/dist/Valine.min.js></script>
            <script type=text/javascript>new Valine({
                el: '#vcomments',
                appId: 'jvtrKDMNLEM7obrMXAD1WcFk-gzGzoHsz',
                appKey: '56emrXJkRsmu0gLM4ENEr7Mk',
                placeholder: ' ',
                visitor: 'true',
            })</script>
        </div>
    </div>
    <a id=back_to_top href=# class=back_to_top><span>△</span></a></div>
<footer class="footer animated fadeInDown">
    <div class=powered_by><a href=https://zeuk.me>Designed by Zeuk,</a>
        <a href=https://gohugo.io/ target=_blank>Proudly published with Hugo</a></div>
    <div class=footer_slogan><span>简单 安静 思考</span></div>
</footer>
<script src=https://zeuk.me/js/jquery-3.3.1.min.js></script>
<script src=https://zeuk.me/js/zozo.js></script>
<script src=https://zeuk.me/js/font.js></script>
<script src=https://zeuk.me/js/highlight.pack.js></script>
<link href=https://zeuk.me/css/fancybox.min.css rel=stylesheet>
<script src=https://zeuk.me/js/fancybox.min.js></script>
<script>hljs.initHighlightingOnLoad()</script>
<script type=application/javascript>var doNotTrack = false;
if (!doNotTrack) {
    window.ga = window.ga || function () {
        (ga.q = ga.q || []).push(arguments)
    };
    ga.l = +new Date;
    ga('create', 'UA-138591000-1', 'auto');
    ga('send', 'pageview');
}</script>
<script async src=https://www.google-analytics.com/analytics.js></script>
</body>
</html>