{% extends "base.html" %}
{% block title %}
    <title>一些短篇</title>
{% endblock %}
{% block list %}

    {% regroup article_list by pub_date.year as years %}
    <div class=content>
        <div class=list_with_title>
            {#<p>{{ years }}</p>#}
            {#{% for foo in years %}#}
            {#    <p>{{ foo.grouper }}</p>#}
            {##}
            {#{% endfor %}#}
            {% for mouth in years %}
                <div class=listing_title>{{ mouth.grouper }}年</div>
                <div class=listing>
                    {% for post in mouth.list %}
                        <div class=listing_item>
                            <div class=listing_post>
                                <a href="/blog/{{ post.id }}/" title="{{ post.title }}"
                                   target="_self">{{ post.title }}</a>
                                <div class=post_time><span class=date>{{ post.pub_date|date:"m-d" }}</span></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class=pagination></div>
    </div>
{% endblock %}
<a id=back_to_top href=# class=back_to_top><span>△</span></a>

